@using Polaris.Components.Pages
@using Polaris.Servicio
@inject FondoVideoService fondoVideoService
@inherits LayoutComponentBase
@implements IDisposable

<div class="auth-container">
    <iframe @key="fondoVideoService.linkVideo()"
            src="@fondoVideoService.linkVideo()"
            title="YouTube video player"
            frameborder="0"
            allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" class="video-overlay" allowfullscreen>
    </iframe>
    <div class="auth-box">
        <div class="auth-header">
            <img src="logo.png" alt="Logo" />
            <h2>Bienvenido a Polaris</h2>
        </div>

        <div class="auth-content">
            @Body
        </div>
    </div>
</div>
@code{
    protected override void OnInitialized()
    {
        fondoVideoService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {

        fondoVideoService.OnChange -= StateHasChanged;
    }
}