@inherits LayoutComponentBase

<div class="page flex h-screen overflow-hidden">
    
    <div class="vh-100">
        <NavMenu />
    </div>

    <main class="flex-1 overflow-auto bg-gray-950">
        <article class="content p-4">
            @Body
        </article>
    </main>
</div>